/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents horizontal scroll */
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* .swiper-pagination {
  display: none;
} */


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.blinking-button {
  animation: blink 1s infinite;
}

.swiper-pagination {
            display: none;
          }

          .swiper-button-next,
          .swiper-button-prev {
            opacity: 0 !important;
            pointer-events: none !important;
          }
